* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
h1,
body {
  text-align: center;
  background-image: url(../reznik/images/abstract-uv-ultraviolet-light-composition\ \(1\).jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  text-shadow: 1px 1px 1px indigo, 2px 2px 1px indigo;
}
div {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

a {
  text-decoration: none;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  text-shadow: 1px 1px 1px indigo, 2px 2px 1px indigo;
}

h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  text-shadow: 1px 1px 1px indigo, 2px 2px 1px indigo;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.gradient-button {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  text-shadow: 1px 1px 1px indigo, 2px 2px 1px indigo;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    #9eefe1 0%,
    hsl(278, 74%, 21%) 51%,
    #9eefe1 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
.gradient-button:hover {
  background-position: right center;
}

ul li {
  list-style-type: none;
  display: inline-block;
}

.btn_third {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1;
  margin: 0 auto;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  text-shadow: 1px 1px 1px indigo, 7px 7px 3px indigo;
  border-color: #3498db;
  color: #fff;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.btn_third:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}
